* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 16px;
  /* width: 1200px; */
  min-height: 100vh;
  font-family: sans-serif;
}

.title {
  text-align: left;
  margin: 0px
}

.titleWrapper {
  margin: 32px 0 16px;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
}

.leftTitle {
  padding-left: 142px;
  text-align: left;
}

.middleTitle {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.rightTitle {
  padding-right: 142px;
  text-align: right;
}

/* .container {
  margin: 16px auto 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
} */

.transferContainer {
  position: relative;
  margin: 16px auto 64px;
  width: 100%;
  /* border: 2px dashed #c1c2c1; */
}

#graphLeft, #graphRight {
  position: relative;
}

.graphLeft {
  padding-left: 150px;
  display: flex;
  justify-content: center;
  /* border: 1px dashed #0000002e; */
}

.graphRight {
  padding-right: 150px;
  display: flex;
  justify-content: center;
  /* border: 1px dashed #0000002e; */
}

#filterStep1Button,
#filterStep2Button,
#filterStep3Button,
#filterStep4Button {
  display: none;
  margin-top: 12px;
  padding: 2px 6px;
  border: 1px solid black;
  border-radius: 8px;
  cursor: pointer;
}

#changeGraphLabel {
  display: flex;
  cursor: pointer;
}

#changeGraph {
  cursor: pointer;
}

.transferInfo {
  display: none;
  position: absolute;
  padding: 8px;
  border: 1px solid #c1c1c1;
  z-index: 100;
  background: #FFFFFF;
}

.table {
  display: grid;
  grid-template-columns: 100px auto;
}

.bold, #marketValue, #fee {
  font-weight: bold;
}

.wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 24px;
}

.box {
 border: 2px dashed black;
}

@media (max-width: 1200px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

svg g text {
  font-size: 9px;
}