* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 16px;
  width: 1200px;
  min-height: 100vh;
  font-family: sans-serif;
}

.title {
  text-align: left;
  margin: 0px
}

.titleWrapper {
  margin-top: 32px;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
}

.leftTitle {
  padding-left: 142px;
  text-align: left;
}

.middleTitle {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.rightTitle {
  padding-right: 142px;
  text-align: right;
}

.container {
  margin: 16px auto 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

#graphLeft, #graphRight {
  position: relative;
}

.graphLeft {
  /* padding-left: 100px; */
  display: flex;
  justify-content: center;
  /* border: 1px dashed #0000002e; */
}

.graphRight {
  /* padding-right: 100px; */
  display: flex;
  justify-content: center;
  /* border: 1px dashed #0000002e; */
}

#filterButton {
  display: none;
  margin-top: 12px;
  padding: 2px 6px;
  border: 1px solid black;
  border-radius: 8px;
  cursor: pointer;
}

#changeGraphLabel {
  display: flex;
  cursor: pointer;
}

#changeGraph {
  cursor: pointer;
}